.author-box{
	width:260px;
	margin:auto;
	position:relative;

	img{
		width:100%;
		z-index:1;
	}

	.author-img{
		position:relative;

		&:before{
			content:'';
			position:absolute;
			top:0;
			width:100%;
			z-index:2;
			border-left:40px solid $jeppe-black;
			border-right:40px solid $jeppe-black;
			border-bottom:40px solid trnasparent;
		}
	}

}
