.no-anim .site-content{
	transition:margin-right 0ms;
}
.site-content{
	position: relative;
	min-height:calc(100vh - #{$header-height} - #{$top-nav-height} );
	background:$jeppe-white;
	transition:margin-right 120ms;

	@media only screen and(min-width:960px){
		margin-right:$site-nav-width;
	}

	@media only screen and(min-width:1280px){
 		margin-right:25%;
 	}

	@media only screen and(min-width:1280px){
 		border:$base-margin solid darken($jeppe-light-3,2);
 	}

    pre{
        margin:0 0 $text-margin;
    }
}

.menu-out .site-content,
.zen-mode .site-content{
	margin-right:0;
}
