.no-anim .site-content{
	transition:margin-right 0ms;
}
.site-content{
	position: relative;
	min-height:calc(100vh - #{$header-height} - #{$top-nav-height} );
	background:$jeppe-light;
	transition:margin-right 120ms;

	@media only screen and(min-width:960px){
		margin-right:$site-nav-width;
	}

	@media only screen and(min-width:1280px){
 		margin-right:25%;
 	}

    pre{
        margin:0 0 $text-margin;
    }
}

.home .site-content{
    margin-right: 0;
}