.featured-posts{
    padding: 30px 0px 40px;
    
    >.inner{
        padding: 0;
        @media only screen and(min-width:480px){
            padding:10px;
        }
        
    }
}

.featured-header{
    padding: $base-margin/2;
    
    h3{
        background:$contrast-color-blue-1;
        position: relative;
        display: inline-block;
        font-size:125%;
        width: calc(100% - 65px);
        color: white;
        height: 50px;
        line-height: 50px;
        padding:0px $base-margin;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        font-weight:900;
        span{
            font-weight:300;
        }
    }
    
    .square-icon{
        float:right;
        background: $contrast-color-blue-3;
        color: white;
        fill: white;
    }
    
}

.archive-header{
	@extend .featured-header;
    padding: 0px 10px 10px;
	h3{
		width: 100%;
		display: block;
	}
}
