.site-footer{
    @extend .site-content;
    min-height: 0;
    position:relative;
    z-index:1;
    background-color: $contrast-color-blue-1;
    color:$jeppe-white;
    @media only screen and(min-width:1280px){
        border:none;
    }
}

.site-footer-info{
    float: left;
    vertical-align: top;
    display: inline-block;
}

.site-footer-nav{
    float: right;
    vertical-align: top;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 80%;
    text-align: right
}