.front-slider{
    overflow: hidden;
    font-family: $contrast-font;
}

.front-slider,
.flickity-viewport,
.flickity-slider{
    padding:0;
    height:240px;
    width:100%;
    outline: none;
    
    @media only screen and(min-width:480px){
        padding:0 0 50%;
        height:0;
    }
    
    @media only screen and(min-width:768px){
        padding:0;
        height:384px;
    }
    
    @media only screen and(min-width:960px){
        padding:0 0 40%;
        height:0;
    }
    
    @media only screen and(min-width:1400px){
        padding:0 0;
        height:560px;
    }
    
    .inner, .slide{
        z-index:-1;
        position:absolute;
        top: 0;
        height:100%;
        width:100%;
        background-size:cover;
        background-color:$jeppe-black-3;
    }
    
    .slide{
        box-shadow: 0px -5px 10px rgba(0,0,0,.2) inset;
        outline: none;
        
    }
}

.is-selected .slider-cta > *{
        top:0;
    }

 .slider-cta > *{
        top: 100px;
        @for $i from 2 through 4{
            $amount : 200 * $i;
            &:nth-child(#{$i}){
                transition:top #{$amount}ms;
            }
        }
    }


.slider-cta{
    @media only screen and(max-width:640px){
    
        .cta-text{
            
            display: none;
        }
    }
    
    font-weight: 700;
    position: absolute;
    bottom:$base-margin/2;
    left:$base-margin/2;
    @media only screen and(min-width:768px){
        bottom:$base-margin;
        left:$base-margin; 
    }
    
    height:50px;
    line-height:50px;
    font-size: 0;
    
    
    
    span,
    a{
        vertical-align: top;
        position: relative;
        @extend %font-size;
        display: inline-block;
        padding: 0px $base-margin;
        background-color: white;
        box-shadow: $base-shadow;
    }
    
    .cta-icon,
    .prev,
    .next{
        position:relative;
        width:55px;
        height:50px;
        color: $contrast-color-blue-1;
        fill: $contrast-color-blue-1;
        padding:0;
        
        svg{
            height:30px;
            width:35px;
            margin:10px;
        }
    }
    
    .cta-icon{
        margin-right:10px;
    }
    
    .prev,
    .next{
        margin-left: 10px;
        transition: background-color 120ms, fill 120ms, top 600ms;
        
        &:hover{
            background-color:$contrast-color-blue-3;
            fill: white;
        }
    }
    
    .cta-link{
        background-color: $contrast-color-blue-3;
        color: white;
        text-transform: uppercase;
    }
    
    .next{
        background-color:$contrast-color-blue-1;
        fill: white;
        transition: background-color 120ms, fill 120ms, top 700ms;
    }
}


