.main-menu{
	margin: -$base-margin;

	li a{
		height: 45px;
		line-height: 45px;
		display: inline-block;
		padding: 0 $base-margin;
		font-size: 80%;
		text-transform: uppercase;
		font-weight: 600;
		transition: color 120ms, background-color 120ms;
		color: $jeppe-black;

		&:hover{
			color: $anchor-hover-color;
		}

	}

	@for $i from 0 through 20{
		$amount : .03 * $i;
		li:nth-of-type(#{$i}) a{
			background-color: rgba(255,255,255,$amount);
		}
	}

	.sub-menu a{
		font-weight: 400;
		padding: 0 $base-margin 0 $base-margin*2;
	}
}
