.pagination{

	margin:0 auto $base-margin;
	text-align: right;
	font-weight:bold;
	font-size:0;
	border:$base-margin solid $jeppe-light;
	background:$jeppe-light-2;

	>div, a{
		display: inline-block;
		height:40px;
		line-height: 40px;
		width:50px;
		text-align:center;
		font-size:20px;
	}

	a{
		background:$jeppe-black;
		transition:background 120ms;
		text-decoration: none;
		color:white;
	}

	>div,
	a:hover{
		background: $jeppe-light-3;
		text-decoration: none;
	}

}
