

.no-anim .site-nav{
transition:right 0ms;
}

.site-nav{
	position:absolute;
	background: $jeppe-light;
	width:0;
	height:calc(100vh + #{$top-nav-height});
	right:-$site-nav-width;
	top:0;
	z-index:10;
	padding: $header-height+$top-nav-height 0;
	transition:right 120ms;
	box-shadow:$base-shadow;
	overflow:hidden;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;

 	@media only screen and(min-width:960px){
 		right:0;
        overflow:visible;
		box-shadow:none;
        width:$site-nav-width;
        background: $jeppe-light;
 	}

	@media only screen and(min-width:1280px){
 		width:25%;
 	}

	.inner{
		padding:0 0 100px;
	}

	.site-nav-part{
		padding:$base-margin;
	}
}

.menu-out .site-nav{
	right:0;
    width:$site-nav-width;
}

.fixed .site-nav{
		position:fixed;
		padding:$header-height 0;
	}

@media only screen and(min-width:960px){

	.zen-mode .site-nav, .home .site-nav{
        width:0;
 		right:-$site-nav-width;
 	}
}

@media only screen and(min-width:1280px){

	.zen-mode .site-nav{

 		right:-25%;
 	}
}
