.fixed .site-nav.bottom{
   
    position:absolute;
    top:auto;
    bottom:0;
    height:auto;
    min-height:100vh;

}

.no-anim .site-nav{
transition:right 0ms;
}

.site-nav{
	position:absolute;
	background: $jeppe-light;
	width:0;
	height:calc(100vh + #{$top-nav-height});
	right:-$site-nav-width;
	top:0;
    
	padding: 0;
	transition:right 120ms;
	box-shadow:-1px -1px 5px rgba(0,0,0,.2);
	overflow:scroll;
    z-index:1000000;
    
    @media only screen and(min-width:960px){
        overflow: hidden;
        z-index:10;
    }
    
    transform: translate3d(0,0,0);
    backface-visibility: hidden;

    &.has-before:before{
        position:relative;
        content:'';
    }
    
    
 	@media only screen and(min-width:960px){
 		right:0;
        overflow:visible;
		box-shadow:none;
        width:$site-nav-width;
        background: white;
 	}

	@media only screen and(min-width:1280px){
 		width:25%;
 	}

	.inner{
		padding:0 0 100px;
        position: relative;
	}

	.site-nav-part{
		padding:$base-margin;
	}
}

@media only screen and(max-width:960px){
    .menu-out .site-nav{
    	right:0;
        width:$site-nav-width;
    }
}


.fixed .site-nav{
		position:fixed;
		padding:$header-height 0;
        height:100%;
        overflow:hidden;
	}

@media only screen and(min-width:960px){

	.zen-mode .site-nav, .home .site-nav{
        width:0;
 		right:-$site-nav-width;
 	}
}

@media only screen and(min-width:1280px){

	.zen-mode .site-nav{

 		right:-25%;
 	}
}
