.widget{
    
	padding: $base-margin ;
    
    color: $jeppe-black-3;
    font-size:90%;

	>div:not(.widget-header){
        @extend %article-font-style;
		background-color: white;
		//box-shadow: $base-shadow;
        padding:$base-margin;
        
        @media only screen and(min-width:960px){
            background: none;
            padding: $base-margin/2 0 $base-margin;
        }
        
		

	}
    
    a:not(.widget-header){
        color: $contrast-color-blue-2;
        text-decoration: underline;
    }

}

.widget-header h3{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: calc( 100% - 65px);
	margin-bottom: $base-margin/2;
	background: $jeppe-light-2;
	text-transform: uppercase;
	padding: 0 $base-margin/2;
	//box-shadow: $base-shadow;
}

.widget-header .square-icon{
	//box-shadow: $base-shadow;
	background-color: $contrast-color-blue-3;
	float: right;

	svg{
		fill: white;
	}
}
