
.gallery{
    box-sizing: border-box;
    *{box-sizing: inherit}
    background: $jeppe-light-2;
    padding: 5px;
    font-size: 0;
    line-height: 0;
    margin:10px 0px;
    overflow: hidden;
    font-family: $contrast-font;
    
    &:not(.open) a[data-num]:before{
        content: '';
        position: absolute;
        z-index:2;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 0px;
        background:rgba($contrast-color-blue-3,.7);
    }

    &:not(.open) a[data-num]:after{
        content:attr(data-num);
        position: absolute;
        z-index:2;
        color: white;
        font-size:42px;
        top: 50%;
        left: 0;
        width:100%;
        text-align: center;
        transform: translate(0,-50%);

    }
    
    a.gallery-item{
        display:inline-block;
        vertical-align: top;
        position: relative;
        padding: 5px;
        width: calc(100% / 3 );
        height:0;
        padding: 5px 5px calc(100% / 4.5);
        margin-bottom:5px;
        overflow:hidden;
        
        &:not(.item-plchld) img{
            min-width: 100%;
        }
        
        &:first-of-type{
            float:left;
            width: calc(100% / 3 * 2);
            padding: 5px 5px calc(100% / 1.5 + 17px);
        }
        
        &.item-plchld{
            display: none;
            
            &:before{
                position: absolute;
                top:5px;
                left:5px;
                right:5px;
                bottom:0px;
                background:$jeppe-black-3;
                content:'';
                
            }
            
            &:not(.loaded) img{
                position:absolute!important;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
            
            &.loaded:before{
                background:transparent;
                
            }
            
        }
    }
    
    a.show-more-btn{
        clear:left;
        display: block;
        padding:10px 20px;
        background: $contrast-color-blue-1;
        color: white!important;
        text-decoration: none;
        text-transform: uppercase;
        font-size:16px;
        line-height:1;
        margin:5px 5px 10px;
        font-size:15px;
        transition:background 120ms;
        
        &:hover{
            background: $contrast-color-blue-3;
            
        }
    }
}