.item-list{
    list-style: none;
    padding:0;
    font-size:0;
}

.list-item {
    padding: 10px;
    display: block;

    @media only screen and(min-width:768px){
        display: inline-block;
        width: 50%;
        vertical-align: top;
        
    }
    
	.inner{
		display: block;
        padding:0;
        background:white;
	}
    
    .list-item-img{
        padding: 0 0 56.25%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
    }
    
    .list-item-meta{
        position: absolute;
        right:10px;
        bottom:10px;
        font-size: 0;
        
        .list-item-date{
            background-color: white;
            text-align: center;
            padding-top: 5px;
            font-size: 12px;
            font-weight:900;
            
            span{
                display: block;
            }
            
            span:first-child{
                font-size:24px;
                margin-bottom:2px;
            }
            
        }
        
        .icon-next{
            background-color: $contrast-color-blue-3;
            fill: white;
            transition: background-color 120ms;
            margin-left: 10px;
            
            &:hover{
                background-color: $contrast-color-blue-2;
                
            }
        }
    }

	.list-item-excerpt{
		padding:20px;
        overflow: hidden;
		@extend %font-size;
		@extend %article-font-style;
        
        h3 {
            font-size: 125%;
            font-weight: 700;
            margin-bottom: $base-margin/2;
        }
        
        height: 200px;
        border-bottom: 30px solid white;
        
        @media only screen and(min-width:640px){
            
            height:210px;
        }
        
        @media only screen and(min-width:768px){
            
            height:235px;
        }
        
	}
}
