html,body{

    font-family:$base-font;
    background:$jeppe-black;
    color:$jeppe-black;
    font-weight: $base-font-weight;
    @extend %font-size;
    box-sizing:border-box;
    text-rendering: geometricPrecision;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    width:100%;
    overflow-x: hidden;

    *{
        box-sizing:inherit;
        backface-visibility: inherit;
    }

}

hr {
    border: 1px solid #e0e0e0;
}

::selection {
        // background: #333;
    }
::-moz-selection {
        // background: #333;
    }


img{
    max-width:100%;
    height:auto;
}

header,section,footer{
    position: relative;
    z-index:1;
    clear:both;
    display: block;
    overflow: auto;
}

.hidden{
    display:none;
}

article{

    @extend %article-font-style;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.padding{
    padding:$base-margin;
}


.read-width{
    max-width:640px;
    margin:auto;
    @media only screen and(min-width:1280px){
        max-width:720px;
    }
    
}

.read-width-small{
    max-width:480px;
    margin:auto;
}

.dimitri{
	font-family:'Dimitri', $base-font;
}
