@font-face {
    font-family: 'Dimitri';
    src: url('../statics/dimitri/dimis___-webfont.eot');
    src: url('../statics/dimitri/dimis___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../statics/dimitri/dimis___-webfont.woff2') format('woff2'),
         url('../statics/dimitri/dimis___-webfont.woff') format('woff'),
         url('../statics/dimitri/dimis___-webfont.ttf') format('truetype'),
         url('../statics/dimitri/dimis___-webfont.svg#dimitri_swankregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
