section{
    padding:30px $base-margin/2 40px;

	.inner{
		padding:$base-margin/2;
	}

    @media only screen and(min-width:480px){
        padding:50px $base-margin 60px;

    }

	@media only screen and(min-width:640px){

		.inner{
			padding:$base-margin;
		}
    }

	@media only screen and(min-width:1280px){
		padding:70px $base-margin 80px;
    }

}
