@charset "utf-8";

// FONT
$base-font: Verdana, sans-serif;
$contrast-font: 'Open Sans', sans-serif;
$base-font-weight: 400;
$base-font-weight-2: 600;
$base-font-weight-3: 700;
$text-margin:.7em;

$base-font-size: 13px;
$base-font-size-480: 14px;
$base-font-size-640: 15px;
$base-font-size-960: 15px;
$base-line-height:1.5;


// Højde bredde basic
$base-margin:20px;
$page-width-max:1280px;
$read-width-max:640px;



// Farver
$jeppe-black: #3b3b3b;
$jeppe-black-2: #000000;
$jeppe-black-3: #777777;

$jeppe-light: #f5f5f5;
$jeppe-light-2: #e9e9e9;
$jeppe-light-3: #e5e5e5;
$jeppe-white: #ffffff;

$jeppe-color-red: #ea492e;
$jeppe-color-yellow: #c5cb35;
$jeppe-color-green: #58b47b;
$jeppe-color-blue: #2188e0;


$contrast-color-blue-1: #1c4c8e;
$contrast-color-blue-2: #468bd1;
$contrast-color-blue-3: #6faeee;

// Anchors

$anchor-hover-color: $contrast-color-blue-3;
$anchor-current-color: $anchor-hover-color;


// Skygge

$base-shadow: 1px 1px 2px 0px rgba($jeppe-black,.2) ;

$top-nav-height:45px;
$site-nav-width:320px;
